
PopovR_GUN28_GUNPC_Memory.sln
PopovR_GUN28_GUNPC_Memory.csproj
obj/project.nuget.cache
obj/project.assets.json
obj/PopovR_GUN28_GUNPC_Memory.csproj.nuget.g.targets
obj/PopovR_GUN28_GUNPC_Memory.csproj.nuget.g.props
obj/PopovR_GUN28_GUNPC_Memory.csproj.nuget.dgspec.json
obj/Debug/net8.0/refint/PopovR_GUN28_GUNPC_Memory.dll
obj/Debug/net8.0/ref/PopovR_GUN28_GUNPC_Memory.dll
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.sourcelink.json
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.pdb
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.GlobalUsings.g.cs
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.genruntimeconfig.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.dll
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.csproj.FileListAbsolute.txt
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.assets.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.AssemblyInfoInputs.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.runtimeconfig.json
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.pdb
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.exe
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.dll
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Memory.deps.json
.vs/PopovR_GUN28_GUNPC_Memory/v17/DocumentLayout.json
.vs/PopovR_GUN28_GUNPC_Memory/v17/DocumentLayout.backup.json
.vs/PopovR_GUN28_GUNPC_Memory/v17/.suo
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/c36fa2c7-3178-4516-a2bf-2e10d6d04dce.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/9c73fcff-603b-4cb2-9c82-b527c7ed87d8.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/57139b97-d65c-4319-ad41-7de556eb3a22.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/2191a720-3d71-4b71-a2a4-25a69a840d62.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/1ddeee09-fb2c-46e7-a87a-092dcdb527e2.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/DesignTimeBuild/.dtbcache.v2
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/03123f98-8916-4018-9ea4-cb0e673f2830.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/26c8f72b-2fe8-4fa1-aceb-057cc5aedd0f.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/b695afec-0cef-49b0-abf3-19b63d16b86f.vsidx
.vs/ProjectEvaluation/popovr_gun28_gunpc_memory.strings.v9.bin
.vs/ProjectEvaluation/popovr_gun28_gunpc_memory.projects.v9.bin
.vs/ProjectEvaluation/popovr_gun28_gunpc_memory.metadata.v9.bin
.vs/PopovR_GUN28_GUNPC_Memory/v17/.futdcache.v2
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/f1976ebe-0a60-47ca-8361-acce01080728.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/a3c1cd67-1c88-4d01-a802-c5ab1525ba34.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/663bedfa-a076-4282-a79d-c62de8505546.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/6409876f-728a-4169-a10c-bb9db717f7df.vsidx
.vs/PopovR_GUN28_GUNPC_Memory/FileContentIndex/36391b5b-9125-40ac-a810-7ab0db28d151.vsidx
.gitattributes
